
.login-container .col-12 {
    margin-top:15px;
}

.login-container .name {
    text-align: center;
    font-size: 50px;
}

.login-container .col-12:last-child {
    margin-bottom:30px;
}

.login-container button {
    color: #e0001f;
    border-color: #e0001f;
}

.login-container button:hover {
    background-color: #e0001f;
    border-color: #e0001f;
}